#everything{
	width: 1100px;
	margin: 0 auto;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
}

#container-grid{
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: 400px 300px 100px;
}
#nestedgrid{
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-gap: 5%;
	grid-template-rows: 100px;
	margin: 10px;
	align-items: center;
	line-height: 20px;
}

#picture{
	display: grid;
	grid-template-rows: 100px;
	margin: 25px;
}

#main{
	grid-column: 1 / 2;
	grid-row: 1;
	background-image: url(img/banner_bg.png);
}

#maintitle{
	grid-column: 2 / 5;
	grid-row: 1;
	background-image: url(img/banner_bg.png);
	color: white;
	text-align: left;
	font-size: 26px;
	line-height: 30px;
	padding-top: 20px;
}
#maintext{
	font-size: 14px;
	line-height: 20px;
	padding-right: 5px;
	text-align: left;
}

#sliders{
	display: grid;
	grid-column: 1 / 5;
	grid-row: 2;
	background-color: white;
	margin-top: 30px;
}

#footer{
	grid-column: 1 / 5;
	grid-row: 3;
	background-image: url(img/footer_bg.png);
	color: white;
	text-align: center;
	padding-top: 35px;
	font-size: 20px;
	text-decoration: none;
}

/*---navbar---*/

ul {
    list-style-type: none;
    margin: 10px 0;
    background-image: url(img/header_bg.png);
}

li {
    float: right;
    margin-top: 10px;
    font-size: 19px;
    line-height: 20px;
    padding-top: 20px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}